body{
    background-image:url(image.jpg);
}
div{
    color: rgb(25, 16, 18);
    text-align: center;
}
h4{
    background-color: aliceblue;
}
h2{
    background-color: antiquewhite;
}
h5{
    background-color: yellow;
}
.btn{
    border-radius: 5px;
    background-image: linear-gradient(to left,rgb(224, 210, 14),rgb(4, 103, 146));  
    color: white;
    height: 30px;
}
#kural{
    background-image: linear-gradient(to left,rgb(83, 12, 59),rgb(33, 8, 117));  
    color: white;
}
h1{
    color: rgb(237, 233, 228);
    text-align: center;
}